
	<div class='center'>
		<h1>Tasks by Timing</h1>
	</div>

	<%= button_to('Daily', daily_path, :method=>'get', :class => 'bigolbutton')  %>
	<%= button_to('Weekly', weekly_path, :method=>'get', :class => 'bigolbutton')  %>
	<%= button_to('BiWeekly', biweekly_path, :method=>'get', :class => 'bigolbutton')  %>
	<%= button_to('Monthly', monthly_path, :method=>'get', :class => 'bigolbutton')  %>
	<%= button_to('Quarterly', quarterly_path, :method=>'get', :class => 'bigolbutton')  %>
	<%= button_to('Annual', annually_path, :method=>'get', :class => 'bigolbutton')  %>
	<%= button_to('On Request', onrequest_path, :method=>'get', :class => 'bigolbutton')  %>
	<%= button_to('Ad-hoc', adhoc_path, :method=>'get', :class => 'bigolbutton')  %>




